<div class="panel panel-default" style="margin-left:-3px">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 padding-left-10">
      <app-breadcrumbs [items]='itemsPath'></app-breadcrumbs>
    </div>
  </div>
  <div class="panel-heading section-padding">
    <h3 class="panel-title" style="font-size: 24px">Create Internal Audit</h3>
  </div>
  <div class="panel-body section-padding">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-4">
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Audit Name</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-input (inputTextSelected)='this.auditName=$event' #inputauditName [value]='auditName' maxlength="60"></app-input>
            </div>
          </div>
        </div>
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="required control-label">Department</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.department = $event' [selectedItem]='department'></app-dropdown>
            </div>
          </div>
        </div>
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="required control-label">Report Closed Date</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-calender id="calender" class="calWidth" (calenderSelected)='this.reportClosedDate=$event' showIcon='true' yearNavigator='true'
                monthNavigator='true' yearRange='2000:2030' [inputDate]='reportClosedDate'></app-calender>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <app-button label="Create" styleClass='button-action' [disabled]='disable()' (click)="saveData()"></app-button>
      <app-button label="Cancel" styleClass='button-action'></app-button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row addKeyControlButtons">
      <app-button label='Reset' (click)='resetAll()' styleClass='button-action'></app-button>
      &nbsp;&nbsp;&nbsp;
      <app-button label='Cancel' styleClass='button-cancel'></app-button>
    </div>
  </div>
</div>