<div class="row">
  <div class="col-12">
    <label for="title" class="control-label">Non Checklist Item:</label>
    <p-checkbox name="group1" value="checked" label="" inputId="on"></p-checkbox>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-3 col-xs-3">
    <div *ngIf="isCheckedChecklist">
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Control Text</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-input-text-area rowSize='6' (inputTextAreaSelected)='this.controlText = $event' [value]='controlText' name='controlText'></app-input-text-area>
        </div>
      </div>
    </div>
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Group</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.selectedGroup = $event' [selectedItem]='selectedGroup'></app-dropdown>
        </div>
      </div>
    </div>
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Aditional Procedure</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-multiselect [dataSource]='mockMultiDropDownData' (selectedMultiSelect)='changeAditionalProcedure($event)' [selectedItems]='selectedAditionalProcedure'></app-multiselect>
        </div>
      </div>
    </div>
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="required control-label">Business Continuity</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-input (inputTextSelected)='this.businessContinuity=$event' #inputbusinessContinuity [value]='businessContinuity' maxlength="60"></app-input>
        </div>
      </div>
    </div>
    <div *ngIf="implemented">
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="required control-label">Tracking Number</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-input (inputTextSelected)='this.trackingNumber = $event' #inputtrackingNumber [value]='trackingNumber' maxlength="60"></app-input>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-xs-3">
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="required control-label">Checklist</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.selectedcheckList = $event' [selectedItem]='selectedcheckList'></app-dropdown>
        </div>
      </div>
    </div>
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="required control-label">Framework</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.selectedFramework = $event' [selectedItem]='selectedFramework'></app-dropdown>
        </div>
      </div>
    </div>
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Implementation State</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p-radioButton name="group1" value="Implemented" label="Implemented" (click)="checkRadio('implemented')"></p-radioButton>
          <p-radioButton name="group1" value="Will be Implemented" label="Will be Implemented" (click)="checkRadio('implement')"></p-radioButton>
        </div>
      </div>
    </div>
    <div *ngIf="implemented">
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="required control-label">Enhancement Project</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.selectedEnhancementProject = $event' [selectedItem]='selectedEnhancementProject'></app-dropdown>
        </div>
      </div>
    </div>

  </div>
  <div class="col-lg-3 col-md-3 col-xs-3">
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="required control-label">Control</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.selectedControl = $event' [selectedItem]='selectedControl'></app-dropdown>
        </div>
      </div>
    </div>
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="required control-label">Elements</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-multiselect [dataSource]='mockMultiDropDownData' (selectedMultiSelect)='changeselectedElements($event)' [selectedItems]='selectedElements'></app-multiselect>
        </div>
      </div>
    </div>
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Comment</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-input-text-area rowSize='6' (inputTextAreaSelected)='this.comment = $event' [value]='comment' name='comment'></app-input-text-area>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-xs-3">
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Procedure</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.selectedProcedure = $event' [selectedItem]='selectedProcedure'></app-dropdown>
        </div>
      </div>
    </div>
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Management Assertion</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-multiselect [dataSource]='mockMultiDropDownData' (selectedMultiSelect)='changeselectedManagementAssertion($event)' [selectedItems]='selectedManagementAssertion'></app-multiselect>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="text-center">
  <app-button (click)='saveControlForm()' [disabled]='disable()' label="Save and Add evidence to this Control" styleClass='button-action'></app-button>
</div>
<br>
<br>
<br>
<br>
<div class="row addKeyControlButtons">
  <app-button label='Reset' (click)='resetAll()' styleClass='button-action'></app-button>
  <app-button label='Cancel' styleClass='button-cancel'></app-button>
</div>